@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Serif", serif;
    font-size: 1rem;
    color: black;
    background-color: lightblue;
}

.menu {
    display: flex;
    list-style: none;
    font-size: 2rem;


    gap: 1.5rem;

    background-color: lightcoral;
    margin: 0rem;
    text-align: center;
}

.outerContainer {
    width: 65rem;
    height: auto; 
    border-style: solid;
    border-color: blue;
    border-width: 0.5rem;
    padding: 2rem;
    margin: auto;

    background-color: white;
}

.playerGameContainer {
    background-color: lightblue;
    /* display: flex; */
}

.playerInfo {
  background-color: lightblue;
  width: 400px;
  height: 400px;
  align-items: center;
  margin: auto;
  text-align: center;
}


button {
  font-size: 16px;
}

