<nav>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search Page</a></li>
        <li><a href="/gameStart">Higher or Lower Game</a></li>
        <li><a href="/leaderboard">Higher or Lower Leaderboard</a></li>
    </ul>

    <hr>
</nav>