<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>CMSC335 FINAL PROJECT</title>

    <link rel="stylesheet" href="style.css" type="text/css">

    <!-- favicon -->
    <link rel="icon" href="favicon.svg" type="image/svg+xml" >
</head>

<body>
    <div class="outerContainer">
        <%- include('header.ejs') %>

        <h1>NBA Higher Or Lower Game</h1>

        <br>
        <strong>Search Page:</strong><br>
        Search up NBA players and view their stat information.
        
        <br><br>

        <strong>Higher or Lower Game: </strong><br>
        You are randomly given two players and must pick who you think averaged more points in the 2024-2025 season.
        You earn a point for every round you get correct. You lose when you get a round incorrect.

        <br><br>

        <strong>Higher or Lower Leaderboard:</strong><br>
        Leaderboard of the top 10 scorers.

        <br>
        <br>

        <img src="nba_image.webp" alt="Description of the image" width="300" height="200">
    </div>

</body>

</html>